body {
    background-color: white;
    margin: 0px;
    padding: 0px;
}
#ballin-logo {
    display: block;
    margin: auto;
    width: 125px;
}
#logo-container {
    padding: 15px;
    text-align: center;
}
#form-footer {
    text-align: center;
}